    @charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    border-bottom: 1px solid #aaa;
}

header .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative;
}

header .inner h1 {
    position: relative;
    left: 0px;
    top: 45px;
}

header .inner h1 a {
    font: bold 25px/1 "arial";
    color: #444;
    transition: all 0.5s;
}

header .inner h1 a:hover{
    color: #777;
    transform: scale(1.2);
    opacity: 0.5;
    border-radius: 10px;
}

header .inner #gnb {
    position: absolute;
    bottom: 10px;
    right: 0px;
    display: flex;
    justify-content: space-around;
}

header .inner #gnb li {
    display: flex;
}

header .inner #gnb li a {
    padding: 12px 50px;
    font: bold 17px/1 "arial";
    color: #555;
    transition: all 0.5s;
}

header .inner #gnb li a:hover {
    background: #555;
    color: #fff;
    transform: scale(1.2);
    opacity: 0.5;
    border-radius: 10px;
}

header .inner .util {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    justify-content: space-around;
}

header .inner .util li {
    display: flex;
}

header .inner .util li a {
    padding: 10px 10px;
    font: normal 13px/1 "arial";
    color: #aaa;
}

/* Nav bar design*/
.menu-wrap {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 98;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 99;
    cursor: pointer;
    width: 28px;
    height: 28px;
    opacity: 0;
    transform: scale(1.5);
}

.menu-wrap .hamburger {
    position: absolute;
    top: 37px;
    right: 25px;
    z-index: 98;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    background: #333;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background: #ddd;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.toggler:checked ~ .menu {
    visibility: visible;
}

.toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 92;
}

.menu > div {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    transition: all 0.4s ease;
}

.menu > div > div > ul > li:hover {
    color: rgb(154, 167, 224);
    transform: rotate(15deg);
}

.menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

/* visual */
main {
    position: relative;
    top: 75px;
    left: 10%;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
}

main section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

main section .contents {
    padding: 10px;
    width: 100%;
}

main section .contents .contents_detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

main .contents .contents_detail img {
    width: 300px;
    height: 320px;
    object-fit: cover;
    overflow: hidden;
}

main .contents .contents_detail img:hover {
    transform: scale(1.5);
    transition: 0.7s;
}

main .contents .contents_detail h4 {
    font-size: 18px;
    font-weight: 600;
    padding: 3px;
    color: #444;
    border-bottom: 1px solid #222;
}

/* footer */
footer {
    width: 100%;
    background: #333;
    padding: 100px 0px;
    border-top: 1px solid #888;
}

footer .inner {
    width: 1180px;
    margin: 0px auto;
}

footer .inner .upper {
    width: 100%;
    border-bottom: 1px solid #777;
    padding-bottom: 20px;
}

footer .inner .upper ul {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

footer .inner .upper ul li {
    margin-left: 25px;
}

footer .inner .upper ul li:last-child {
    margin-left: 25px;
    margin-right: 25px;
}

footer .inner .upper ul li a {
    color: #999;
    font-size: 30px;
}

footer .inner .lower {
    width: 100%;
    padding-top: 20px;
}

footer .inner .lower address {
    margin-left: 30px;
    width: 100%;
    font: bold 14px/1.3 "arial";
    color: #888;
}


@media screen and (max-width: 1199px) {
    header .inner {
        width: 850px;
    }
    header .inner h1 a {
        padding-left: 50px;
    }
    header .inner #gnb li a {
        padding: 5px 22px;
    }
    header .inner .util li a {
        padding: 15px 10px;
    }
    main section {
        gap: 30px;
    }
    main .contents .contents_detail img {
        width: 220px;
        height: 240px;
    }
    main .contents .contents_detail img:hover {
        transform: scale(1.3);
    }
    main .contents .contents_detail h4 {
        font-size: 16px;
        font-weight: 700;
    }
    footer .inner {
        width: 850px;
    }
}


@media screen and (max-width: 849px) {
    header .inner {
        width: 550px;
    }
    header .inner h1 a {
        padding-left: 25px;
        font-size: 22px;
    }
    header .inner #gnb li a {
        font-size: 13px;
        padding: 10px 10px;
    }
    header .inner #gnb li a:hover {
        transform: scale(1.1);
    }
    header .inner .util li a {
        font-size: 12px;
        padding: 15px 7px;   
    }
    main section {
        grid-template-columns: repeat(2, 1fr);
    }
    main section .contents {
        padding: 10px;
        width: 100%;
    }
    main section .contents .contents_detail {
        gap: 10px;
    }
    main .contents .contents_detail img {
        width: 210px;
        height: 230px;
    }
    main .contents .contents_detail img:hover {
        transform: scale(1.2);
        transition: 0.7s;
    }
    main .contents .contents_detail h4 {
        font-size: 14px;
        font-weight: 700;
    }
    footer .inner {
        width: 550px;
    }
    
    footer .inner .upper ul li a {
        font-size: 25px;
    }

    footer .inner .lower address {
        margin-left: 30px;
        font: bold 11.5px/1.3 "arial";
    }
}
@media screen and (max-width: 549px) {
    header {
        width: 100%;
    }
    header .inner {
        width: 100%;
        border: 5px solid #222;
    }
    header .inner h1 a {
        font-size: 25px;
        padding-left: 40px;
    }
    header .inner #gnb  {
        display: none;
    }
    header .inner .util {
        display: none; 
    }
    main section {
        grid-template-columns: repeat(1, 1fr);
    }
    main .contents .contents_detail img {
        width: 300px;
        height: 320px;
    }

    main .contents .contents_detail img:hover {
        transform: scale(1.2);
    }
    main .contents .contents_detail h4 {
        font-size: 18px;
        font-weight: 600;
    }
    footer .inner {
        width: 270px;
    }
    
    footer .inner .upper ul li a {
        font-size: 20px;
    }

    footer .inner .lower address {
        margin-left: 10px;
        font: bold 11px/1.5 "arial";
    }
}

@media only screen and (max-width: 549px) {
    .menu-wrap {
        display: inline-block;
    }
}