@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    border-bottom: 1px solid #aaa;
}

header .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative;
}

header .inner h1 {
    position: relative;
    left: 0px;
    top: 45px;
}

header .inner h1 a {
    font-family: "Berkshire Swash", sans-serif;
    font-weight: 500;
    color: #444;
    transition: all 0.5s;
}

header .inner h1 a:hover{
    color: #777;
    transform: scale(1.2);
    opacity: 0.5;
    border-radius: 10px;
}

header .inner #gnb {
    position: absolute;
    bottom: 10px;
    right: 0px;
    display: flex;
    justify-content: space-around;
}

header .inner #gnb li {
    display: flex;
}

header .inner #gnb li a {
    padding: 12px 50px;
    font: bold 17px/1 "arial";
    color: #555;
    transition: all 0.5s;
}

header .inner #gnb li a:hover {
    background: #555;
    color: #fff;
    transform: scale(1.2);
    opacity: 0.5;
    border-radius: 10px;
}

header .inner .util {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    justify-content: space-around;
}

header .inner .util li {
    display: flex;
}

header .inner .util li a {
    padding: 10px 10px;
    font: normal 13px/1 "arial";
    color: #aaa;
}

/* Nav bar design*/
.menu-wrap {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 98;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 99;
    cursor: pointer;
    width: 28px;
    height: 28px;
    opacity: 0;
    transform: scale(1.5);
}

.menu-wrap .hamburger {
    position: absolute;
    top: 37px;
    right: 25px;
    z-index: 98;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    background: #999;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background: #ddd;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.toggler:checked ~ .menu {
    visibility: visible;
}

.toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 92;
}

.menu > div {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    transition: all 0.4s ease;
}

.menu > div > div > ul > li:hover {
    color: rgb(154, 167, 224);
    transform: rotate(15deg);
}

.menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

/* visual */

main {
    width: 1180px;
    position: relative;
    left: calc(50% - 590px);
    /* border: 3px solid black;  */
    padding: 20px;
}

main .introImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

}

main .introImg h1 {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: rgb(66, 94, 250);
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #777;
    padding: 15px;
}

main .introImg img {
    width: 1140px;
    border: 3px solid white;
    filter: drop-shadow(10px 10px 20px);
}

main .rectangle {
    width: 1140px;
    height: 500px;
    background-color: #222;
    margin: 20px 0px;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 5px;
    padding: 10px;
}
main .rectangle h3  {
    grid-column: 1 / span 2;
    justify-self: center;
    margin: 30px 0px;
    text-align: center;
    color: #ddd;
    width: 500px;
    font-size: 35px;
}

main .rectangle p  {
    justify-self: center;
    padding-left: 50px;
    color: #ddd;
    width: 550px;
    font-family: "Nanum Gothic";
    line-height: 1.7;
}

main .rectangle .Endcontent {
    justify-self: center;
}

main .rectangle .Endcontent img {
    width: 280px;
    height: 300px;
    object-fit: cover;
    filter: contrast(0.8);
    border: 10px solid white;
    border-style: ridge;
}

main .title {
    border-bottom: 1px solid #333;
    padding: 10px;
}

main .title h3 {
    font-size: 22px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    color: rgb(66, 94, 250);
}

main .map {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

main .intro {
    padding: 20px;
}

main .intro p {
    font-size: 17px;
    font-family: "Nanum Gothic";
    margin-bottom: 15px;
}

main .intro h1 {
    font-size: 25px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    color: rgb(66, 94, 250);
    margin-bottom: 30px;

}
main .line {
    border-top: 1px solid #999;
    padding: 40px;
}

main .line:last-child {
    border-bottom: 1px solid #999;
    margin-bottom: 100px;
}

main .line .divide {
    display: flex;
}

main .line .divide h3 {
    padding-left: 20px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    font-family: "Noto Sans KR", sans-serif;
    color: #555;
}

main .line .divide .explain p{
    margin-bottom: 5px;
    font-family: 'Nanum Gothic';
    font-size: 17px;
}

main .line .divide .explain:nth-child(2) p{
    margin-bottom: 20px;
    line-height: 1.5;
    /* font-weight: bold; */
    font-size: 17px;
}

main .line .divide .explain p:last-child{
    margin-bottom: 0px;
}
/* footer */
footer {
    width: 100%;
    background: #333;
    padding: 100px 0px;
    border-top: 1px solid #888;
}

footer .inner {
    width: 1180px;
    margin: 0px auto;
}

footer .inner .upper {
    width: 100%;
    border-bottom: 1px solid #777;
    padding-bottom: 20px;
}

footer .inner .upper ul {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

footer .inner .upper ul li {
    margin-left: 25px;
}

footer .inner .upper ul li:last-child {
    margin-left: 25px;
    margin-right: 25px;
}

footer .inner .upper ul li a {
    color: #999;
    font-size: 30px;
}

footer .inner .lower {
    width: 100%;
    padding-top: 20px;
}

footer .inner .lower address {
    margin-left: 30px;
    width: 100%;
    font: bold 14px/1.3 "arial";
    color: #888;
}


@media screen and (max-width: 1199px) {
    header .inner {
        width: 850px;
    }
    header .inner h1 a {
        font-size: 25px;
        padding-left: 50px;
    }
    header .inner #gnb li a {
        padding: 5px 22px;
    }
    header .inner .util li a {
        padding: 15px 10px;
    }

    main {
        width: 800px;
        left: calc(50% - 400px);
        padding: 20px;
    }
    
    main .introImg h1 {
        font-size: 25px;
    }
    
    main .introImg img {
        width: 760px;
    }
    
    main .rectangle {
        width: 760px;
        height: 550px;
        margin: 30px 0px;
    }
    main .rectangle h3  {
        margin: 30px 0px;
        text-align: center;
        color: #ddd;
        width: 800px;
        font-size: 30px;
    }
    
    main .rectangle p  {
        font-size: 14px;
        width: 370px;
    }
    
    main .rectangle .Endcontent img {
        width: 250px;
        height: 300px;
    }

    main .line {
        padding: 30px;
    }

    footer .inner {
        width: 850px;
    }
}


@media screen and (max-width: 849px) {
    header .inner {
        width: 550px;
    }
    header .inner h1 a {
        padding-left: 0px;
        font-size: 20px;
    }
    header .inner #gnb li a {
        font-size: 13px;
        padding: 10px 10px;
    }
    header .inner #gnb li a:hover {
        transform: scale(1.1);
    }
    header .inner .util li a {
        font-size: 12px;
        padding: 15px 7px;   
    }

    main {
        width: 580px;
        left: calc(50% - 290px);
    }
    
    main .introImg h1 {
        font-size: 22px;
    }
    
    main .introImg img {
        width: 540px;
    }
    
    main .rectangle {
        width: 550px;
        height: 500px;
    }
    main .rectangle h3  {
        width: 540px;
        font-size: 27px;
    }
    
    main .rectangle p  {
        padding-left: 30px;
        width: 280px;
        font-size: 12px;
    }
    
    main .rectangle .Endcontent img {
        width: 200px;
        height: 300px;
    }
    
    main .title h3 {
        font-size: 20px;
    }
    
    
    main .intro p {
        font-size: 14px;
    }
    
    main .intro h1 {
        font-size: 18px;
    }
    main .line {
        padding: 30px;
    }
    
    main .line .divide h3 {
        padding-left: 10px;
        padding-right: 80px;
        font-size: 16px;
    }
    
    main .line .divide .explain p{
        font-size: 15px;
    }
    
    main .line .divide .explain:nth-child(2) p{
        font-size: 16px;
    }

    footer .inner {
        width: 550px;
    }
    
    footer .inner .upper ul li a {
        font-size: 25px;
    }

    footer .inner .lower address {
        margin-left: 30px;
        font: bold 11.5px/1.3 "arial";
    }
}
@media screen and (max-width: 549px) {
    header {
        width: 100%;
    }
    header .inner {
        width: 100%;
    }
    header .inner h1 a {
        font-size: 20px;
        padding-left: 40px;
    }
    header .inner #gnb  {
        display: none;
    }
    header .inner .util {
        display: none; 
    }

    main {
        padding: 20px;
        left: 0;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main .introImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    main .introImg h1 {
        font-size: 23px;
        padding: 10px;
        text-align: center;
    }
    
    main .introImg img {
        width: 100%;
    }
    
    main .rectangle {
        width: 100%;
        height: 900px;
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
    }
    main .rectangle h3  {
        justify-self: center;
        width: 200px;
        margin: 10px 0px;
        text-align: center;
        font-size: 35px;
    }
    
    main .rectangle p  {    
        font-size: 14px;
        line-height: 1.5;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
    }
    
    main .rectangle .Endcontent {
        justify-self: center;
    }
    
    main .rectangle .Endcontent img {
        width: 100%;
        height: 100%;  
    }
    
    main .title h3 {
        margin: 10px 0px;
        font-size: 20px;
    }
    main .map {
        padding: 20px 0px;
        width: 100%;
        height: 100%;
    }
    
    main .intro p {
        font-size: 13px;
    }
    
    main .intro h1 {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    
    }
    main .line {
        padding: 10px;
        width: 100%;
    }
    
    main .line:last-child {
        margin-bottom: 40px;
    }
    
    
    main .line .divide h3 {
        padding-left: 5px;
        padding-right: 15px;
        font-size: 14px;
    }

    main .line .divide .explain {
        margin-left: 10px;
    }
    
    main .line .divide .explain p{
        margin: 15px 0px;
        font-family: 'Nanum Gothic';
        font-size: 14px;
    }
    
    main .line .divide .explain:nth-child(2) p{
        margin-bottom: 15px;
        line-height: 1.5;
        font-family: 'Nanum Gothic';
        font-size: 14px;
    }

    footer .inner {
        width: 270px;
    }
    
    footer .inner .upper ul li a {
        font-size: 20px;
    }

    footer .inner .lower address {
        margin-left: 10px;
        font: bold 11px/1.5 "arial";
    }
}

@media only screen and (max-width: 549px) {
    .menu-wrap {
        display: inline-block;
    }
}