@charset "utf-8";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    border-bottom: 1px solid #aaa;
    /* border-left: 10px solid #aaa; */
}

header .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative;
    /* border-left: 10px solid #000; */
    /* border-right: 10px solid #000; */
    /* border-bottom: 10px solid #000; */
}

header .inner h1 {
    position: relative;
    left: 0px;
    top: 50px;
}

header .inner h1 a {
    font: bold 25px/1 "arial";
    color: #444;
    transition: all 0.5s;
}

header .inner h1 a:hover{
    color: #777;
    transform: scale(1.2);
    opacity: 0.5;
    border-radius: 10px;
    /* 왜 적용이 안 되노...... */
}

header .inner #gnb {
    position: absolute;
    bottom: 10px;
    right: 0px;
    /* border: 5px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header .inner #gnb li {
    display: flex;
}

header .inner #gnb li a {
    padding: 12px 50px;
    font: bold 17px/1 "arial";
    color: #555;
    transition: all 0.5s;
}

header .inner #gnb li a:hover {
    background: #555;
    color: #fff;
    transform: scale(1.2);
    opacity: 0.5;
    border-radius: 10px;
}

header .inner .util {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header .inner .util li {
    display: flex;
}

header .inner .util li a {
    padding: 10px 10px;
    font: normal 13px/1 "arial";
    color: #aaa;
}

/* visual */
figure {
    width: 100%;
    height: calc(100vh - 120px);
    background: #000;
    position: relative;
    overflow: hidden;
    padding-top: 250px; 
    /* border: 5px solid #fff; */
}

figure video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
}

figure .inner {
    width: 1180px;
    margin: 0px auto;
    position: relative;
}

figure .inner h1 {
    font: bold 70px/1.3 "KoPubWorld돋움체_Pro Bold";
    color: #ddd;
    margin-bottom: 20px;
}

figure .inner p {
    font: bold 15px/1.3 "나눔스퀘어 Bold";
    color: #888;
    margin-bottom: 60px;
}

section {
    width: 100%;
    padding: 200px 0px;
}

section .inner {
    border: 1px solid #777;
    border-radius: 20px;
    width: 1180px;
    margin: 0px auto;
    padding: 20px;
}

section .inner h1 {
    font: bold 30px/1 "나눔스퀘어 Bold";
    text-align: center;
    color: #555;
    margin-bottom: 45px;
}

section .inner .wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section .inner .wrap article {
    width: 260px;
    margin-left: 40px;
}

section .inner .wrap article:last-child {
    margin-right: 40px;
}

section .inner .wrap article h2 {
    margin-bottom: 20px;
}

section .inner .wrap article h2 a {
    font: bold 20px/1 "나눔스퀘어 Bold" ;
    color: #555;
}

section .inner .wrap article p {
    font: normal 14px/1.4 "arial" ;
    color: #999;
}

section .inner .wrap article .pic {
    width: 100%;
    height: 270px;
    background: #333;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

section .inner .wrap article .pic img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

/* footer */
footer {
    width: 100%;
    background: #333;
    padding: 100px 0px;
    border-top: 1px solid #888;
}

footer .inner {
    width: 1180px;
    margin: 0px auto;
}

footer .inner .upper {
    width: 100%;
    border-bottom: 1px solid #777;
    padding-bottom: 20px;
}

footer .inner .upper ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-left: 20px;
    
}

footer .inner .upper ul li {
    margin-left: 25px;
}

footer .inner .upper ul li:last-child {
    margin-left: 25px;
    margin-right: 25px;
}

footer .inner .upper ul li a {
    color: #999;
    font-size: 30px;
}

footer .inner .lower {
    width: 100%;
    padding-top: 20px;
}

footer .inner .lower address {
    margin-left: 30px;
    width: 100%;
    font: bold 14px/1.3 "arial";
    color: #888;
}


@media screen and (max-width: 1199px) {
    header .inner {
        width: 850px;
        /* border: 5px solid #000; */
    }
    header .inner h1 a {
        padding-left: 30px;
    }
    header .inner #gnb li a {
        padding: 5px 25px;
    }
    header .inner .util li a {
        padding: 15px 10px;
    }
    figure {
        width: 100vw;
        height: calc(100vh - 400px);
    }
    figure video {
        width: 100vw;
    }
    figure .inner {
        width: 850px;
    }
    figure .inner h1 {
        font-size: 40px;
    }

    figure .inner p {
        font-size: 13px;
        margin-bottom: 60px;
    }
}
