@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* header */
header {
    width: 100%;
    border-bottom: 1px solid #aaa;
}

header .inner {
    width: 1180px;
    height: 120px;
    margin: 0px auto;
    position: relative;
}

header .inner h1 {
    position: relative;
    left: 0px;
    top: 45px;
}

header .inner h1 a {
    font: bold 25px/1 "arial";
    color: #444;
    transition: all 0.5s;
}

header .inner h1 a:hover{
    color: #777;
    transform: scale(1.2);
    opacity: 0.5;
    border-radius: 10px;
}

header .inner #gnb {
    position: absolute;
    bottom: 10px;
    right: 0px;
    display: flex;
    justify-content: space-around;
}

header .inner #gnb li {
    display: flex;
}

header .inner #gnb li a {
    padding: 12px 50px;
    font: bold 17px/1 "arial";
    color: #555;
    transition: all 0.5s;
}

header .inner #gnb li a:hover {
    background: #555;
    color: #fff;
    transform: scale(1.2);
    opacity: 0.5;
    border-radius: 10px;
}

header .inner .util {
    position: absolute;
    right: 20px;
    top: 10px;
    display: flex;
    justify-content: space-around;
}

header .inner .util li {
    display: flex;
}

header .inner .util li a {
    padding: 10px 10px;
    font: normal 13px/1 "arial";
    color: #aaa;
}

/* Nav bar design*/
.menu-wrap {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 98;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 28px;
    right: 28px;
    z-index: 99;
    cursor: pointer;
    width: 28px;
    height: 28px;
    opacity: 0;
    transform: scale(1.5);
}

.menu-wrap .hamburger {
    position: absolute;
    top: 37px;
    right: 25px;
    z-index: 98;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 3px;
    background: #aaa;
    transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 3px;
    background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
    background: #ddd;
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.toggler:checked ~ .menu {
    visibility: visible;
}

.toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 92;
}

.menu > div {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    transition: all 0.4s ease;
}

.menu > div > div > ul > li:hover {
    color: rgb(154, 167, 224);
    transform: rotate(15deg);
}

.menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

/* visual */
main {
    background-color: #333;
}

main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main .content h3 {
    font-size: 33px;
    font-family: '나눔스퀘어';
    font-weight: 800;
    color: #ccc;
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    
}

main .content .rectangle {
    width: 70%;
    height: 75vh;
    opacity: 0.8;
    background-color: white;
    margin-bottom: 70px;
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

main .content .contact {
    width: calc(100% - 100px);
    position: relative;
    top: 60px;
    left: 80px;
}

main .content .contact h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: #333;
    font-family: '나눔고딕';
    margin-bottom: 50px;
}

main .content .contact ul {
    font-size: 18px;
    font-weight: 400;
}

main .content .contact ul li {
    margin-bottom: 40px;
    line-height: 1.5;
}

main .content .contact img {
    width: 225px;
}

main .content .gform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content .gform h2 {
    width: 95%;
    text-align: center;
    font-size: 20px;
    font-family: '나눔고딕';
    color: #333;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
}

main .content .gform .inputclass {
    display: block;
}

main .content .gform .inputclass input {
    width: 90%;
    height: 30px;
    margin-top: 20px;
}

main .content .gform .inputclass input::placeholder {
    padding-left: 10px;
    font-family: Georgia;
}

main .content .gform .inputclass input:nth-child(4) {
    width: 90%;
    height: 150px;
    margin: 20px 0px;
}

main .content .gform .Agree {
    display: block;
}

main .content .gform .Agree span textarea {
    width: 90%;
    height: 80px;
    padding: 15px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    font-family: '나눔고딕';
}

main .content .gform .Agree span .contentCheck {
    width: 10pt;
    height: 9pt;
}

main .content .gform .Agree .Agreelink1, .Agreelink2 {
    cursor: pointer;
    font-size: 15px;
    font-family: '나눔고딕';
}

main .content .gform .Agree span .ExplainAgree {
    font-size: 15px;
    font-family: '나눔고딕';
}

main .content .gform button {
    cursor: pointer;
    background-color: white;
    border: 1px solid #555;
    padding: 10px 40px;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 60px;
    align-self: flex-end;
}

main .content .gform button:hover {
    font-weight: 600;
    color: white;
    background-color: #777;
    transition: all 0.5s;
    
}

.hide {
    display: none;
}

/* footer */
footer {
    width: 100%;
    background: #333;
    padding: 100px 0px;
    border-top: 1px solid #888;
}

footer .inner {
    width: 1180px;
    margin: 0px auto;
}

footer .inner .upper {
    width: 100%;
    border-bottom: 1px solid #777;
    padding-bottom: 20px;
}

footer .inner .upper ul {
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

footer .inner .upper ul li {
    margin-left: 25px;
}

footer .inner .upper ul li:last-child {
    margin-left: 25px;
    margin-right: 25px;
}

footer .inner .upper ul li a {
    color: #999;
    font-size: 30px;
}

footer .inner .lower {
    width: 100%;
    padding-top: 20px;
}

footer .inner .lower address {
    margin-left: 30px;
    width: 100%;
    font: bold 14px/1.3 "arial";
    color: #888;
}


@media screen and (max-width: 1199px) {
    header .inner {
        width: 850px;
    }
    header .inner h1 a {
        padding-left: 50px;
    }
    header .inner #gnb li a {
        padding: 5px 22px;
    }
    header .inner .util li a {
        padding: 15px 10px;
    }

    main .content .rectangle {
        width: 80%;
    }
    
    main .content .contact h2 {
        font-size: 30px;
    }
    
    main .content .contact img {
        width: 200px;
    }
    
    main .content .gform h2 {
        width: 90%;
        line-height: 1.3;
        font-size: 19px;
        margin-right: 40px;
    }   
    
    main .content .gform .Agree span .contentCheck {
        width: 10pt;
        height: 8.5pt;
    }
    
    main .content .gform .Agree .Agreelink1, .Agreelink2 {
        font-size: 13.5px;
    }
    
    main .content .gform .Agree span .ExplainAgree {
        font-size: 13.5px;
    }  

    footer .inner {
        width: 850px;
    }
}


@media screen and (max-width: 849px) {
    header .inner {
        width: 550px;
    }
    header .inner h1 a {
        padding-left: 25px;
        font-size: 22px;
    }
    header .inner #gnb li a {
        font-size: 13px;
        padding: 10px 10px;
    }
    header .inner #gnb li a:hover {
        transform: scale(1.1);
    }
    header .inner .util li a {
        font-size: 12px;
        padding: 15px 7px;   
    }

    main .content h3 {
        font-size: 30px;
        font-weight: 800;
    }
    
    main .content .rectangle {
        width: 95%;
        height: 75vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    main .content .contact {
        width: calc(100% - 70px);  
        left: 40px;
    }
    
    main .content .contact h2 {
        font-size: 27px;
    }
    
    main .content .contact img {
        width: 180px;
    }
    
    main .content .gform .Agree span .contentCheck {
        width: 10pt;
        height: 9pt;
    }
    
    main .content .gform .Agree .Agreelink1, .Agreelink2 {
        cursor: pointer;
        font-size: 15px;
    }
    
    main .content .gform .Agree span .ExplainAgree {
        font-size: 15px;
    }
    footer .inner {
        width: 550px;
    }

    footer .inner .upper ul li a {
        font-size: 25px;
    }

    footer .inner .lower address {
        margin-left: 30px;
        font: bold 11.5px/1.3 "arial";
    }
}
@media screen and (max-width: 549px) {
    header {
        width: 100%;
    }
    header .inner {
        width: 100%;
    }
    header .inner h1 a {
        font-size: 25px;
        padding-left: 40px;
    }
    header .inner #gnb  {
        display: none;
    }
    header .inner .util {
        display: none; 
    }
    main {
        background-color: #333;
    }

    main .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    main .content h3 {
        font-size: 33px;
        font-family: '나눔스퀘어';
        font-weight: 800;
        color: #ccc;
        margin-top: 50px;
        margin-bottom: 30px;
        border-bottom: 2px solid #ccc;
        padding-bottom: 5px;
        
    }

    main .content .rectangle {
        width: 100%;
        height: 200%;
        display: flex;
        flex-direction: column;
    }

    main .content .contact {
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .content .contact h2 {
        border-bottom: 2px solid #333;
        padding-bottom: 2px;
        margin: 50px 0px;
    }

    main .content .gform {
        position: relative;
        left: 10%;
        width: 80%;
    }

    main .content .gform .Agree {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main .content .gform h2 {
        width: 100%;
    }

    main .content .gform .inputclass input {
        width: 100%;
    }

    main .content .gform .inputclass input:nth-child(4) {
        width: 100%;
    }

    main .content .gform .Agree span .contentCheck {
        width: 10pt;
        height: 9pt;
    }

    main .content .gform .Agree .Agreelink1, .Agreelink2 {
        font-size: 15px;
    }

    main .content .gform .Agree span .ExplainAgree {
        font-size: 15px;
    }

    main .content .gform .Agree span textarea {
        width: 100%;
    }
    main .content .gform button {
        margin-bottom: 50px;
    }

    footer .inner {
        width: 270px;
    }
    footer .inner .upper ul li a {
        font-size: 20px;
    }
    footer .inner .lower address {
        margin-left: 10px;
        font: bold 11px/1.5 "arial";
    }
}

@media only screen and (max-width: 549px) {
    .menu-wrap {
        display: inline-block;
    }
}